---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Dr. Erduy J. Infante" description="Acerca de Dr. Erduy J. Infante">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de mí"
				tagline="Gracias por pasarte por aquí. A continuación podrás conocer más sobre mi trayectoria."
			>
				<img
					width="1553"
					height="873"
					src="/assets/profile_erduy.jpg"
					alt="Dr. Erduy J. Infante, Neurólogo "
				/>
			</Hero>

			<section>
				<h2 class="section-title">Dr. Erduy J. Infante</h2>
				<div class="content">
					<p>
						<ul>
							<li>
								<strong>Graduado en Medicina</strong> por la Facultad de Ciencias Médicas (FCM) de Las Tunas. Instituto Superior de Ciencias Médicas de Camagüey en 1993.
							</li>
							<li>
								<strong>Postgraduado rural</strong> de 1993 al 1997.
							</li>
							<li>
								<strong>Especialidad en Neurología</strong> en la FCM Finlay-Albarrán del Instituto Superior de Ciencias Médicas Girón. Ciudad de la Habana de 1997 al 2001.
							</li>
							<li>
								<strong>Neurólogo</strong> en el Centro Internacional de Restauración Neurológica <strong>(CIREN)</strong> de La Habana. Cuba: (Servicio de Lesiones Raquimedulares, Neuromusculares y Esclerosis Múltiple) 2001 al 2008.
							</li>
							<li>
								<strong>Entrenamiento en Enfermedades Neuromusculares.</strong> Hospital de Bellvitge, 2007.
							</li>
							<li>
								<strong>Máster en Peritaje Médico y Valoración del Daño Corporal</strong> por la Universidad de Barcelona, 2015. 60 ECTS.
							</li>
							<li>
								<strong>Curso de Especialización en Trastornos del Movimiento</strong> por la Universitat Oberta de Catalunya, 2017. 10 ECST
							</li>
							<li>
								<strong>Desde el año 2008</strong> ejerzo mi actividad profesional en España realizando consultas de Medicina, Pediatría y Neurología en la Medicina Privada.
							</li>
							<li>
								<strong>Cursos  y Congresos</strong> nacionales e internacionales (Cuba, México, Italia, Brasil, etc).
							</li>
							<li>
								<strong>Actividades Docentes</strong> clases de Neuroanatomía y conferencias a residentes de Neurología, conferencias en maestrías así como cursos de actualización en Neurorehabilitación. Además tutor de trabajos de terminación de residencia.
							</li>
							<li>
								<strong>Publicaciones</strong> en revistas nacionales (Revista Neurología) e internacionales (Revista Cubana Medicina General Integral, Multiple Sclerosis, Revista Mexicana de Neurociencias, etc).
							</li>
						</ul>
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
