---
export async function getStaticPaths() {
  return []; // No genera rutas adicionales
}

const defaultLang = 'es'; // Idioma predeterminado
---

<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=/${defaultLang}/`} />
  </head>
  <body>
    <p>Redirigiendo al idioma predeterminado...</p>
  </body>
</html>