---
import congres from '../../../.astro/congres.json'
import BaseLayout from '../../layouts/BaseLayout.astro';
import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';

import { translations } from '../../i18n/translation.js';

// Define las rutas dinámicas
export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } },
  ];
}

const supportedLangs = ['en', 'es']; // Idiomas soportados
const lang = supportedLangs.includes(Astro.params.lang) ? Astro.params.lang : 'es'; // Fallback al español
const t = translations[lang];

---

<BaseLayout
	title="Congresos | Dr. Erduy J. Infante Velázquez"
	description="Congresos internacionales y nacionales"
>
    <div class="stack gap-20">
		<main class="wrapper stack gap-8">
            <Hero
                t={t.congress}
                align="start"
            />

            <ul class="stack gap-8">
                {congres.map((item) => (
                  <li class="stack">
                    <h5>{item.title}</h5>
                    <p class="subtitle">{item.subtitle}</p>
                    <p><strong>Fecha: </strong>{item.date}</p>
                  </li>
                ))}
              </ul>
		</main>
		<ContactCTA />
	</div>
            
</BaseLayout>
